@import url(../../style.css);

.head-section {
    position: relative;
    height: 70vh;
    background-image: url(../img/contact-us.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.head-section .container {
    display: grid;
    place-items: center;
    height: 100%;
}

.head-section h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50.4px;
}

/*------------------*/
.blog-main-section{
    padding: 50px 0;
    background-image: radial-gradient(rgba(61, 152, 219, 0.08), #ffffff);
}

.blog-main-section .blog-post-image-container{
    padding: 12px;
    border: 1px solid var(--main-blue);
    border-radius: 24px;

}

.blog-post-image{
    overflow: hidden;
}

.blog-main-section .blog-post img{
    /* position: relative; */
    /* z-index: 1; */
    display: block;
    width: 300px;
    height: 225px;
    object-fit: cover;
    background-position: center;
    /* overflow: hidden; */
    border-radius: 24px;
}

.blog-main-section .blog-post-content h3{
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}

.blog-main-section .blog-post-content p{
    color: rgba(111, 119, 123, 1);
        font-size: 14px;
        font-weight: 400;
        line-height: 23.8px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}


.blog-main-section  .img-overlay{
    position: absolute;
    /* background-color: rgba(0,0,0,0.4); */
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    z-index: 2;
}


.img-overlay .overlay-text {
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(4px);
    position: absolute;
    top: 12px;
    padding: 12px 16px;
    left: 12px;
    border-radius: 12px;
}

.img-overlay .overlay-text{

}

.blog-post-image .img-overlay p{
        font-size: 14px;
        margin: 0!important;
        font-weight: 400;
        /* line-height: 19.2px; */
        text-align: center;
        /* text-decoration-skip-ink: none; */
}

.overlay-badge{
    background-color: rgba(0, 0, 0, 0) !important;
    /* backdrop-filter: blur(60px); */
    /* border-radius: 12px; */
    /* padding: 12px; */
}